/* Basic reset for any default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #1A237E; /* Primary text color */
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden; /* Ensures that child elements adhere to the border radius */
}

/* Other styles remain the same */

/* Centering content in the header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A237E;
  padding: 20px 0;
  border-bottom: 3px solid #7E57C2; /* Gives a 3D effect */
}

.logo {
  width: auto;
  height: 150px; /* Adjust to your preference */
  box-shadow: 40px 40px 40px rgba(20, 20, 20, 0.2); /* Subtle shadow for depth */
  border-radius: 200px;
  margin: 20px;
  padding: 10px;
}

/* Centering title and giving a 3D effect to the section */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack the elements vertically */
  gap: 0.5rem;
  font-size: 2rem;
  color: #1A237E;
  text-shadow: none; /* Remove shadow from the title */
}

/* Styling for main content sections */
.section {
  border-radius: 10px; /* Rounds the edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for 3D effect */
  margin: 2rem;
  padding: 2rem;
  background-color: #f2f2f2; /* Light grey background for sections */
}

/* Other styles remain the same */


.main-content {
  flex: 1; /* Takes up all available space */
  padding: 2rem;
  background-color: #ffffff; /* White background for main content */
}


.subtitle {
  color: #7E57C2; /* Accent color for subtitles */
  margin: 1rem 0;
}

.footer {
  background-color: #00BCD4; /* Accent color for footer */
  padding: 1rem;
  color: #ffffff;
  text-align: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer a:hover {
  color: #5C86F0; /* Accent color when hovering over links */
}
